.float__container {
  position: relative;
  width: 90%;
  margin: 0 auto;  
}

.todo__counter {
  position: absolute;
  bottom: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  background-color: var(--orange);
  border-radius: 10px 10px 10px 10px;
}

.todo__counter h2 {
  margin-bottom: 22px;
  font-size: var(--font-size-large);
  font-weight: bold;
  color: #fff;
}

.todo__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.todo__search input {
  width: 75%;
  padding: 10px;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
}

.todo__search p {
  margin-top: 22px;
  font-size: var(--font-size-medium);
  text-align: left;
  color: var(--white);
}