:root {
  --green-dark: #059dac;
  --green-light: #0beff0;
  --green-white: #eefcfc;
  --green-black: #014950;
  --green-gray: #3d4255;
  --green-gray-light: #7d8494;
  --orange: #ffaf4c;
  --white: #fff;

  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: var(--green-white);
}

